@model CarEngineDbFirstApproach.Models.EngineTbl

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EngineTbl</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EngineId" class="control-label"></label>
                <input asp-for="EngineId" class="form-control" />
                <span asp-validation-for="EngineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineBrand" class="control-label"></label>
                <input asp-for="EngineBrand" class="form-control" />
                <span asp-validation-for="EngineBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineModel" class="control-label"></label>
                <input asp-for="EngineModel" class="form-control" />
                <span asp-validation-for="EngineModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
